<!DOCTYPE html>
<html>

<head>
  <!-- Metadata  -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Health-Checker</title>

  <!-- _____________________ CSS _____________________ -->
  <!-- Fonts  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/fontawesome/css/all.css" rel="stylesheet"> 

  <!-- Materalize CSS  -->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/materialize-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Other CSS Styling  -->
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  {{{body}}}
  
  <!--  Front End JS Scripts-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>

</html>
