<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Diagnosis</h5>


          <table class="highlight striped responsive-table">
            <thead>
              <tr>
                <th>Diagnosis Name</th>
                <th>City</th>
                <th>Percentage of all diagnosis</th>
              </tr>
            </thead>

            <tbody>
              {{#each diagnosisResults}}

              <tr>
                <td>{{this.name}}</td>
                <td>{{this.city}}</td>
                <td>{{percentage}}%</td>
              </tr>
              {{/each}}

            </tbody>
          </table>


          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>