<!-- 
  Body Proposed Symptoms Handlebars File 
  HTML using MateralizeCSS Design
-->
<main>
     <section id="propSymptoms">
          <div id="index-banner" class="parallax-container parallax-container-sub">
               <div class="section no-pad-bot">
                    <div class="container">
                         <i class="fas fa-heartbeat logo-sub light-blue-text text-lighten-3">
                              <h5 class="companyName header center light-blue-text text-lighten-5">Dipmat Med</h5>
                         </i>
                         <h4 class="companyName header center light-blue-text text-lighten-5">Symptom Selector - Select
                              Related
                              Symptom</h4>
                         <br><br>

                    </div>
               </div>
               <div class="parallax"><img src="/images/ggBridge.png" alt="Unsplashed background img 1"></div>
          </div>

          <!-- 3. Info Container 1 -->
          <div class="container">
               <div class="section">
                    <div class="row">
                         <div class="input-field col s12">
                              <div class="row">
                                   <div class="col s12 symptomsContainer">
                                        <label for=".symptomsContainer">Choose another symptom you are
                                             experiencing</label><br>
                                        {{#each symptoms}}
                                        <button class="waves-effect waves-light btn-small buttonSpacing sympBtn"
                                             value="{{ID}}" name="{{Name}}">{{Name}}</button>
                                        {{/each}}
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section id="preloader"></section>
</main>

{{> sections/footer}}
{{!-- Front End Js Scripts --}}
{{> scripts/scripts}}
<script src="/js/proSymp.js"></script>