<footer class="page-footer light-blue lighten-5" id="pageFooter">
  <div class="container">
    <div class="row">
      <div class="col s8">
        <h5 class="black-text">Who are we?</h5>
        <p class="grey-text text-darken-4">Team Dipmat was a team created to tackle the world of Full Stack Engineering. This site was developed from an idea that sprouted from the minds of aspiring engineers. As of right now, this site isn't much but with further development, this site has the potential to help many people.
        </p>


      </div>
      <div class="col s4">
        <h5 class="black-text">Connect</h5>
        <ul>
          <li class="black-text" ><i class="fab fa-github"><a class="black-text genText" href="https://github.com/majedline/DIPMAT"> GitHub Project Link</a></i></li>
          <br>
          <li class="black-text" ><i class="fab fa-github"><a class="black-text genText" href="https://github.com/Garciat427"> Troy Garcia</a></i></li>
          <li class="black-text" ><i class="fab fa-github"><a class="black-text genText" href="https://github.com/majedline"> Majed Atwi</a></i></li>
          <li class="black-text" ><i class="fab fa-github"><a class="black-text genText" href="#!"> Dima Kasrelishvili</a></i></li>
          <li class="black-text" ><i class="fab fa-github"><a class="black-text genText" href="#!"> Pavel Khassanov</a></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      Made by Team DIPMAT and Front End On Front Using the <a class="grey-text text-darken-1" href="http://materializecss.com"> MateralizeFramework</a>
    </div>
  </div>
</footer>